.cards-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: auto;
  gap: 50px;
}

.card-content {
  width: 200px;
  height: 520px;
  border: solid 1.5px var(--color-secondary);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto auto;
  margin:30px;
}

.card-image {
  width: 100%;
  height: 280px;
}

.card-text {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h4 {
  color: var(--color-secondary);
  font-size: 24px;
  margin: 10px 0 10px 0;
}

button {
  color: var(--color-primary);

  font-size: 20px;
  border: none;
  background-color: #fff;
}

