.pages-header{
    background-color:"";
    margin: "";
    padding: "";
}

.pages-main{
    background-color:"";
    margin: "";
    padding: "";
}

.pages-paragraph{
    background-color:"";
    margin: "";
    padding: "";
}