.ant{
    text-align:"center";
    margin:"10px";
    margin-top:20px;
}

.ant h1{
    margin:20px;
}

h1 {
    color: var(--color-primary);
  }
  
  h2 {
    color: var(--color-secondary);
  }
  
  .pros, .cons {
    list-style: none;
  }
  
  .grey-box {
    width: 600px;
    background-color: lightgrey;
    padding: 15px;
  }
  
  a {
    color: var(--color-primary);
  }